{% extends 'base.html.twig' %}

{% block title %}{{ ship.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>{{ ship.name}} ✅</h1>
    <table>

        <tr>
            <th>Class</th>
            <td>{{ ship.class }}</td>
        </tr>

        <tr>
            <th>Captain</th>
            <td>{{ ship.captain }}</td>
        </tr>

    </table>

{% endblock %}
